<%- include('../partials/head') %>
  </head>

  <body class="min-h-screen bg-gray-100 py-6 px-4">
    <div class="w-full mx-auto">
      <%- include('../partials/nav') %>
        <h1 class="text-3xl font-bold mb-4 text-center">Here are all the Favourites</h1>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 w-full">
          <% favouritesHomes.forEach(home=> { %>
            <li class="bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow overflow-hidden w-full">
              <img src="<%= home.photoUrl %>" alt="<%= home.name %>" class="w-full h-48 object-cover">
              <div class="p-4">
                <h2 class="text-xl font-semibold text-gray-800 mb-2">
                  <%= home.name %>
                </h2>
                <p class="text-gray-600 mb-2"><i class="fas fa-map-marker-alt"></i>
                  <%= home.location %>
                </p>
                <div class="flex justify-between items-center">
                  <p class="text-lg font-bold text-gray-900">₹<%= home.price %>/night</p>
                  <div class="flex items-center">
                    <% for(let i=1; i <=5; i++) { %>
                      <% if(i <=Math.floor(home.rating)) { %>
                        ★
                        <% } else if(i - home.rating < 1 && i - home.rating> 0) { %>
                          ⭐
                          <% } else { %>
                            ☆
                            <% } %>
                              <% } %>
                                <span class="ml-1 text-gray-700">(<%= home.rating %>)</span>
                  </div>
                </div>
                <div class="flex justify-between my-2">
                  <!-- <%- include('../partials/addToFavorite',{home}) %> -->
                    <a href="/homes/<%= home.id %>"
                      class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition-colors">
                      Details
                    </a>
                </div>
              </div>
            </li>
            <% }) %>
        </ul>
    </div>
  </body>

  </html>